useDynLib(chromstaR)

S3method(plot, chromstaR_univariateHMM)
S3method(plot, chromstaR_multivariateHMM)

# Export all names
# exportPattern(".")
export(
bed2binned,
bam2binned,
bedGraph2binned,
# get.chrom.lengths,

callPeaksUnivariate,
# prepare.multivariate,
callPeaksMultivariate,
unis2pseudomulti,
splitUnivariateIntoChromosomes,
mergeChromsFromMultivariates,

# plot.distributions.to.pdf,
# stateorderByTransition,

export.unihmm2bed,
export.unihmm2wiggle,
export.multihmm2bed,
export.multihmm2wiggle,
export.GRanges2bed,
export.binned2bedGraph,
export.binned2wiggle,
# bed2GRanges,

changeFDR,
combinatorialStates,
collapseBins,
dec2bin,
bin2dec,
stateBrewer,
# mixedsort,
# mixedorder,
# estimate.RAM.consumption,
# get.state.labels,
# get.state.colors,

# bin.annotation,
# enrichment.analysis,
# enrichment.from.annotation,
# enrichment.from.expression,
# correlation.analysis,
# gwasCatalog2GRanges,
# plotFractionOfSegmentation,
# plotHeatmapFoldEnrichment,
# cross.correlation,
summarizePeaks,
summarizeDiffPeaks,

dzinbinom,
pzinbinom,
qzinbinom,
rzinbinom,

# simulateUnivariate,
# simulateMultivariate,
scanBinsizes
)

# Import all packages listed as Imports or Depends
import(
	GenomicRanges, IRanges, Rsamtools, BiocGenerics, GenomicAlignments
)
